# 1.1 namgozari

In [1]:
integerNumber = 10+20
integerNumber

30

In [2]:
parsa_khan = 40+60
parsa_khan

100

# 1.2 string

In [3]:
myName = 'parsa'

In [4]:
print(myName)

parsa

In [5]:
len(myName)

5

In [6]:
print(myName[0])

p

In [7]:
myName[0]

'p'

In [8]:
myName[1]

'a'

In [9]:
myName[-1]

'a'

In [10]:
x=len(myName)
myName[x-1]

'a'

In [11]:
myName[len(myName)-1]

'a'

In [12]:
myName[1:3]

'ar'

In [13]:
myFamilly =' khaki'
myFullName = myName + myFamilly
myFullName

'parsa khaki'

In [14]:
myFamilly ='khaki'
myFullName = myName + myFamilly
myFullName*2

'parsakhakiparsakhaki'

In [15]:
tempInt = 1
tempStr = '1'
print(tempInt*2)
print(tempStr*2)
temp="""asasasasaas
asasassdfssd
asdgfddfrd"""

2
11

In [16]:
myName.find('pa')

0

### tamrin

# edame

In [17]:
myFullName[0]

'p'

In [18]:
myBrotherName='kiavash'

In [19]:
myBrotherFullName = myFullName.replace(myName,myBrotherName)
myBrotherFullName

'kiavashkhaki'

In [20]:
myDoubleFullName= myName*2 + myFamilly*2
myDoubleFullName

'parsaparsakhakikhaki'

In [21]:
myName

'parsa'

In [22]:
myBrotherName

'kiavash'

In [23]:
a = myDoubleFullName.replace(myName,myBrotherName)
a

'kiavashkiavashkhakikhaki'

In [24]:
myName.upper()

'PARSA'

In [25]:
myName.isalpha()

True

In [26]:
myTeacherName = "amir hoshang hoseinpour dehkordi"

In [27]:
myTeacherName.split(' ')

['amir', 'hoshang', 'hoseinpour', 'dehkordi']

In [28]:
time = '17:47:33'
splitedTime = time.split(':')
print(splitedTime)

['17', '47', '33']

In [29]:
help(myName.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [30]:
dir(myName)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
tempString ='A\nB\tC'
print(tempString)

A
B	C

In [32]:
print('\"')

"

# if

In [33]:
if True:
    print("salam")

salam

In [34]:
if False:
    print("salam")

In [35]:
if 3:
    print("salam")

salam

In [36]:
if 0:
    print("salam")

In [37]:
if "Amir":
    print("salam")

salam

In [38]:
if " ":
    print("salam")

salam

In [39]:
myName ="parsa"
if len(myName)>=7:
    print("yor name is long")
else:
    print("your name is short")

your name is short

In [40]:
if len(myFullName)>=7:
    print("yor name is long")
else:
    print("your name is short")

yor name is long

In [41]:
inputName = "ava"
if len(inputName)>5:
    print("long")
elif len(inputName)>3:
    print("mediume")
else:
    print("short")

short

In [42]:
inputAge=25
if inputAge >20:
    if inputAge % 2:
        print("بزرگ فرد")
    else:
       print("زوج بزرگ")
else: 
    if inputAge % 2:
       print("کوچک فرد")
    else:
         print("کوچک زوج")

بزرگ فرد

# loops

In [43]:
tempInt = 3
while tempInt>0:
    print(tempInt)
    tempInt -=1

3
2
1

## fiboacci<100

In [44]:
x = 0
x1=1
while x1<80:
    if x<1:
        print(x)
        print(x+1)
    y=x1+x
    print(y)
    x=x1
    x1=y

0
1
1
2
3
5
8
13
21
34
55
89

In [45]:
P=8
tempP=8
mark = False
while tempP>=2:
    if P%tempP==0:
        mark = True
    tempP -=1
if mark:
    print('not prime')
else:
    print('is not prime')

not prime

## for loop

In [46]:
sum = 0
for i in range(5):
    sum+= i
print(sum)

10

In [47]:
#n=int(input('what is your number?'))
x=1
#for i in range(1,n+1):
   # x*=i
print(x)

1

In [48]:
for i in range(1,26):
    if i%3==0:
        print('hpe')
    else:
        print(i)

1
2
hpe
4
5
hpe
7
8
hpe
10
11
hpe
13
14
hpe
16
17
hpe
19
20
hpe
22
23
hpe
25

In [49]:
sum=0
#while True:
   # sum+=1
    #if sum%3==0:
     #   print('hope')

# list

In [50]:
tempList=[35,'amir',3.14]
tempList[0]

35

In [51]:
tempList[:-1]

[35, 'amir']

In [52]:
tempList= tempList+[2,'programing',2.76589]

In [53]:
#tempList.index('shayan',2)

In [54]:
ages = [32, 25,35,21]
ages.sort()
ages

[21, 25, 32, 35]

In [55]:
nestedArray= [[1,2,3],[4,5,6],[7,8,9]]
nestedArray[1]

[4, 5, 6]

In [56]:
nestedArray[1][1]

5

In [57]:
myScores=[20,40,50,70,80]
for i in myScores:
    print(i)

20
40
50
70
80

# Q.

In [58]:
myCourses = ['math','history','chemestry','physics','ap']
for i in range(len(myScores)):
    if myScores[i]>=50:
        print(myCourses[i],'=',myScores[i])

chemestry = 50
physics = 70
ap = 80

# dictionary

In [59]:
myProfile = {'name':'parsa','age':19}
print(myProfile['name'])
print(myProfile['age'])

parsa
19

In [60]:
nameDict = {'firstName':'parsa','lastName':'khaki'}
print(nameDict['firstName'])

parsa

In [61]:
myProfile = {'name':nameDict, 'age':19}
print(myProfile)

{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19}

In [62]:
cities = ['tehran','boston','mehran']
myProfile['cities']= cities

In [63]:
print(len(myProfile['cities']))

3

In [64]:
print(myProfile['cities'][-1])

mehran

In [65]:
myProfile['friends'] = [{'firstName':'shayan','lastname':'shahvari','age':35,'id':0},{'firstName':'kiavash','lastName':'abasnejad','age':21,'id':1}]
print(myProfile)

{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}]}

In [66]:
myProfile['friends'].append({'firstName':'behrad','lastName':'biniaz','age':30,'id':2})
print(myProfile['friends'])

[{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}]

# Q.

# DICT

In [67]:
myProfile.values()

dict_values([{'firstName': 'parsa', 'lastName': 'khaki'}, 19, ['tehran', 'boston', 'mehran'], [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}]])

In [68]:
myProfile.keys()

dict_keys(['name', 'age', 'cities', 'friends'])

In [69]:
if "age" in myProfile.keys():
    print("age vared shode ast")
else:
    print("age ra vared kon")

age vared shode ast

In [70]:
tempFile= open('myProfile.txt','w')
tempFile.write(str(myProfile))
tempFile.close()

# files

In [71]:
tempFile= open('myProfile.txt','w')
tempFile.write(str(myProfile))
tempFile.close()

In [72]:
amirFile = open('amirProfile2.txt','r')
amirProfile = amirFile.read()
amirFile.close()

In [73]:
print(amirProfile)

{'name': {'firstName': 'Amirhoshang', 'lastName': 'Hoseinpour Dehkordi'}, 'age': 34, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'farhadFriends': {'bestFriend': {'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'Bender', 'lastName': 'Bending RodrÃ­guez', 'age': 4, 'id': 1}, 0: {'firstName': 'Bender1', 'lastName': 'Bending RodrÃ­guez', 'age': 4, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending RodrÃ­guez', 'age': 4, 'id': 1}, 2: {'firstName': 'Bender3', 'lastName': 'Bending RodrÃ­guez', 'age': 4, 'id': 1}}, 'friends': [{'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, {'firstName': 'Bender', 'lastName': 'Bending RodrÃ­guez', 'age': 4, 'id': 1}, {'firstName': 'Amy', 'lastName': 'Wong', 'age': 30, 'id': 2}]}

# function

In [74]:
tempFile= open('myProfile.txt','w')
tempFile.write(str(myProfile))
tempFile.close()

In [75]:
tempFile= open('myProfile.txt','w')
tempFile.write(str(myProfile))
tempFile.close()

In [76]:
tempFile= open('myProfile.txt','w')
tempFile.write(str(myProfile))
tempFile.close()

In [77]:
tempFile= open('myProfile.txt','w')
tempFile.write(str(myProfile))
tempFile.close()

In [78]:
def function_name(myInput):
    print(myInput)
    return myInput *2

In [79]:
myFunctionValue = function_name('amir')
myFunctionValue

amir

'amiramir'

In [80]:
def fib(n):
    x = 0
    x1=1
    while x1<80:
        if x<1:
            print(x)
            print(x+1)
        y=x1+x
        print(n)
        x=x1
        x1=n

In [81]:
n=3
mult=1
for i in range(n):
    mult=mult*2
a=mult
print(myName *a)

parsaparsaparsaparsaparsaparsaparsaparsa

In [82]:
def power2(n):
    mult=1
    for i in range(n):
        mult*=2
    return mult

In [83]:
power2(3)

8

In [84]:
def power_k(k,n):
    for i in range(n):
        k=k*k
    return k

In [85]:
power_k(10,2)

10000

# Data flow

In [86]:
myProfile["id"]= 2

In [87]:
myProfile

{'name': {'firstName': 'parsa', 'lastName': 'khaki'},
 'age': 19,
 'cities': ['tehran', 'boston', 'mehran'],
 'friends': [{'firstName': 'shayan',
   'lastname': 'shahvari',
   'age': 35,
   'id': 0},
  {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1},
  {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}],
 'id': 2}

In [88]:
x= myProfile
tempFile= open(str(myProfile['id'])+'.txt','w')
tempFile.write(str(x))
tempFile.close()

# Data analysis part

In [89]:
import os
arr = os.listdir('C:\\Users\\HP\\Documents\\advanced programing\\classmates')
arr.sort
print(arr)

['1.txt', '10.txt', '11.txt', '12.txt', '13.txt', '14.txt', '16.txt', '17.txt', '18.txt', '19.txt', '2.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [90]:
f = open("classmates/1.txt")
data = f.read()
f.close()
print(data)

{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}

In [91]:
import os 
import json
listOfProfile=[]
for i in arr:
    f = open('classmates/'+i)
    tempProfile = f.read()
    convertedProfile = json.loads(tempProfile.replace("'","\""))
    listOfProfile.append(convertedProfile)
    f.close()
print(listOfProfile)

[{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}, {'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}, {'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}, {'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}, {'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age': 22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age': 26}], 'id': 13}, {'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}, {'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': ['TEHRAN', 'KISH', 'ABADAN'], 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}, {'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}, {'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}, {'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}, {'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}, {'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}, {'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}, {'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}, {'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}, {'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}, {'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}]

In [92]:
import json
doubleQProfile = json.loads(data.replace("'","\""))
print(doubleQProfile)

{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}

In [93]:
len(listOfProfile)

17

In [94]:
sumAll = 0
for i in range(len(listOfProfile)):
    try:
        sumAll+=listOfProfile[i]["age"]
    except:
        print(str(i)+"th has error")
print('mean')
print(sumAll/len(listOfProfile))

8th has error
mean
20.0

In [95]:
import pandas as pd
filePath='title.ratings.tsv'
maineFileImdb= pd.read_csv(filePath, delimiter='\t')
display(maineFileImdb)

            tconst  averageRating  numVotes
0        tt0000001            5.7      2103
1        tt0000002            5.6       282
2        tt0000003            6.5      2122
3        tt0000004            5.4       182
4        tt0000005            6.2      2852
...            ...            ...       ...
1503082  tt9916730            7.0        12
1503083  tt9916766            7.1        24
1503084  tt9916778            7.2        37
1503085  tt9916840            6.9        11
1503086  tt9916880            7.9         9

[1503087 rows x 3 columns]

In [100]:
maxScore=maineFileImdb['averageRating'].max()
topScore=maineFileImdb[maineFileImdb['averageRating']==maxScore]
display(topScore)

            tconst  averageRating  numVotes
78058    tt0103649           10.0        13
96240    tt0127236           10.0        23
104552   tt0143979           10.0         5
125597   tt0183268           10.0        13
126540   tt0184926           10.0        12
...            ...            ...       ...
1498965  tt9805198           10.0        15
1498968  tt9805208           10.0        12
1498970  tt9805258           10.0         5
1501090  tt9866444           10.0         8
1501973  tt9889628           10.0         5

[6416 rows x 3 columns]

In [101]:
maxVote=maineFileImdb['numVotes'].max()
topVote=maineFileImdb[maineFileImdb['numVotes']==maxVote]
display(topVote)

          tconst  averageRating  numVotes
84328  tt0111161            9.3   2966619